:root {
  /*GLOBAL VARIABLES*/
  --color-primary: rgb(58, 170, 207);
  --color-star: rgb(245, 233, 62);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

/*Typography*/

::selection {
  background: var(--color-primary);
  color: white;
}

html {
  /*62.5% of 16px = 10px*/
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.3rem; /*mobile aproach first*/
  line-height: 1.5; /*1.5*font size distancia entre linhas*/
  color: var(--color-body);
}

h1 {
  /*1 x font size of the html element*/
  font-size: 7rem; /*7*10px = 70px*/
}

p.bold {
  font-weight: bold;
}

/*Buttons*/
.btn {
  padding: 0.3rem 1rem;
  margin: 0.5rem;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  border: 1px solid var(--color-primary);
}

.btn:hover {
  background: rgb(111, 185, 209);
}

.btn-danger {
  background: red;
}

.btn-danger:hover {
  background: rgb(255, 72, 72);
}

.btn-filler {
  background: none;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition-duration: 0.4s;
}

.btn-filler:hover {
  background: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
}

/*Form*/
.input {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 0.4rem 1rem;
  width: 60%;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}

.inputx2 {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 0.4rem 1rem;
  width: 28.9%;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}

.inputx4 {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 0.4rem 1rem;
  width: 13.4%;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}

.form p {
  text-align: center;
  color: var(--color-primary);
  margin-top: 1rem;
}

.form h1 {
  color: var(--color-primary);
  font-size: 60px;
  text-align: center;
  margin: 20px 0px 30px;
}

.form .btn {
  align-items: center;
  padding: 1rem 2rem;
  border: 2px solid var(--color-primary);
}

.form-input {
  text-align: center;
}

/*Alert*/
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.alert-primary {
  background: #17a2b8;
  color: #fff;
}

.alert-danger {
  background: #dc3545;
  color: #fff;
}

.alert-success {
  background: #28a745;
  color: #fff;
}

/*Landing*/

.landing {
  height: 10%;
  background: lightblue;
}

.landing-content {
  padding: 15% 20% 15% 0rem;
  color: white;
  text-align: right;
}

.landing-content h1 {
  font-size: 70px;
}

@media screen and (min-width: 768px) {
  .landing {
    height: 90vh;
    background: lightblue;
  }
}

/*Navbar*/

.navbar {
  background-color: white;
  color: black;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 5px #b6b6b6;
}

.navbar button {
  float: right;
  padding: 15px;
}

.navbar-fixed {
  list-style: none;
  z-index: 1;
}

.navTitle {
  display: inline-block;
  text-decoration: none;
  color: rgb(41, 115, 158);
  font-family: Cursive;
  font-size: 30px;
  padding: 1rem 1rem;
}

.navbar .content a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  text-decoration: none;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 1s;
}

.collapsible__nav-toggler {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.btn-collapsible {
  border: 0;
  background: none;
  transition: transform 0.3s;
}

.content {
  list-style-type: none;
  transition: all 0.6s;
}

.navbar ul a:hover {
  color: white;
  background-color: lightblue;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    height: 10vh;
  }

  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .content {
    display: flex;
  }

  .content a {
    height: 10vh;
    padding: 4vh 15px;
  }

  .nav-toggler {
    display: none;
  }

  .collapsible__content {
    max-height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s;
  }

  .btn-collapsible {
    display: none;
  }
}

/*Footer*/
.footer {
  background: #232323;
  color: #7b858b;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 5px #b6b6b6;
}

.footer__brand {
  text-align: center;
}

.footer__brand h1 {
  display: inline-block;
  text-decoration: none;
  color: rgb(41, 115, 158);
  font-family: Cursive;
  font-size: 3rem;
  padding: 1rem 1rem;
}

.footer__copyright {
  font-size: 1.5rem;
  color: white;
  opacity: 0.3;
}

.footer a {
  color: #777;
  transition: color 0.3s;
}

.footer a:hover,
.footer button {
  color: white;
}

.collapsible__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapsible {
  border-bottom: 1px solid rgb(24, 24, 24);
}

.footer .content a {
  padding: 1rem 1rem;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: normal;
    justify-content: center;
    gap: 10%;
  }

  .footer a {
    padding: 1rem;
  }

  .footer .content {
    display: grid;
  }

  .footer__brand {
    order: -1;
    align-items: center;
  }

  .collapsible__heading {
    margin: 1rem 0;
  }

  .collapsible {
    margin-bottom: 2rem;
    border: none;
  }
}

/*Blocks*/
.block--arrow-upside {
  padding-bottom: 10rem;
  /*clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0% 0%);*/
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 100%,
    83% 100%,
    50% 90%,
    17% 100%,
    0 100%,
    0% 35%,
    0 0
  );
}

.block--arrow-downside {
  padding-bottom: 10rem;
  padding-top: 10rem;
  clip-path: polygon(
    17% 10vh,
    50% 0,
    83% 10vh,
    100% 10vh,
    100% 100%,
    0 100%,
    0 10vh
  );
}

.block {
  background: lightblue;
  margin: 5rem 0 0 0;
}

/*Reviews*/
.reviews {
  background: white;
  margin: 0.5rem 0.5rem;
  padding: 1rem 3.5rem;
  border: 1px solid white;
  border-radius: 5px;
}

.reviews h3 {
  margin: 2rem 0 1rem 0;
}

.reviews h2 {
  color: var(--color-primary);
  margin-right: 2rem;
}

.reviews .average .star {
  font-size: 2rem;
}

.border {
  padding: 0rem;
  margin: 5rem 18%;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
}

.border .arrow-right {
  position: absolute;
  top: 10rem;
  right: 0;
  padding-right: 1rem;
  cursor: pointer;
}

.border .arrow-left {
  position: absolute;
  top: 10rem;
  padding-left: 1rem;
  cursor: pointer;
}

.border .arrow:hover {
  color: var(--color-primary);
}

.inline {
  display: inline;
}

.review--buttons {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  display: block;
  justify-content: center;
  margin-bottom: 2rem;
}

.average {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .review--buttons {
    display: flex;
  }

  .reviews h2 {
    display: inline;
  }
}

/*Icons*/
.star {
  color: var(--color-star);
}

.arrow {
  color: #232323;
  font-size: 3rem;
}

.nav-toggler {
  color: black;
  font-size: 40px;
  opacity: 0.5;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

/*Product*/
.single-product {
  border: 1px solid var(--color-primary);
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.single-product img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.product-title {
  display: grid;
  grid-template-columns: 70% 30%;
  border-bottom: 1px solid black;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.product-btn {
  position: absolute;
  bottom: 0;
  left: 0%;
  display: block;
  width: 100%;
}

.product-btn .btn {
  display: block;
  width: 97%;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: 100%;
  margin: 2% 5%;
  gap: 5vw 5%;
}

@media screen and (min-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5vw 5%;
  }
}

/*Dashboard*/

.dashboard-header {
  margin: 3rem 0;
  text-align: center;
}
